#main {
    font-size: 1.3em;
    width: 900px;
}

input[type="text"], input[type="password"] {
    width: 200px;
    border: 1px solid #808080;
    font-size: 0.9em;
}

input[type="submit"] {
    font-size: 0.9em;
    width: 80px;
}

#login_fields {
    width:200px;
    padding:20px 40px;    
    margin: 20px 0px;
    border: 1px solid #A0A0A0;
    background-color: #F4F4F4;  
}

#name {
    padding: 10px 0px;
}

#password {
    padding-bottom: 15px;
}