#date_wrap {
    float: left;
    width: 700px;
}

#reset_wrap {
    float: right;
    width: 200px;
}

#reset_wrap input[type="submit"] {
    margin-top: 0px;
}

#cash_table_wrap {
    float: left;
    width: 100%;
    margin: 20px 0px 25px;
}

#description_coloumn {
    width: 350px;
    padding-left: 0px;
}

#print_cash {
    font-weight:bold;
    padding-bottom:5px;
}


#date_start, #date_limit {
    width: 65px;
}

#price, #record, #reset {
    width: 70px;
}

#description {
    width: 200px;
}

#add_cash_table td {
    padding: 0px 2px;
    font-size: 0.9em;
}

