/* COLORS */

.grey_back {
    background-color: #F0F0F0;
}

.content_padding_top {
    padding-top: 15px;
}

#maincenter {
    width: 100%
}

#main {
    width: 980px;
}

/* HEADER */

#head {
    width: 100%;
    height: 70px;
}

#logo {
    float: left;
    width: auto;
    margin-right: 25px;
}

#date {
    height: 30px;
    font-size: 1.1em;                                       
}


#search {
    height: 40px;
}


#search input {
    vertical-align: middle;
}

#mid_line {
    width: 100%;
    height: 10px;
    background-color: #95C1D7;
}

/* LEFT NAVI */

#left_navi {
    width: 135px;
    float: left;
}

/* FOOTER */

#footer {
    width: 100%;
    clear: left;
}

/* CONTENT */

#all_but_head {
    float: left;
}

#content_main{
    width: 845px;
    float: left;
}

#content{
    width: 100%;
}

#status_message_wrap {
    width: 100%;
}